<mdb-card>
  <!--Card image-->
  <mdb-card-img [src]="product.img" [alt]="product.name"></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>
        <a [routerLink]="['/product', product.id]">{{ product.name }}</a>
      </h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>
      {{ product.description }}
    </mdb-card-text>

    <mdb-card-footer class="d-flex justify-content-between align-items-center">
      <h5>{{ product.price }} $</h5>
      <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="onBuyProduct()">Buy</button>
    </mdb-card-footer>
  </mdb-card-body>
</mdb-card>
